	
	#menu_box{
		width: 75%;
		height: 50px;
		float: center;
		margin: 0 auto;
		border: 2px solid darkgray;
	}
	
	ul{	
		margin: 0 auto;
		-webkit-padding-start: 0px;
	}
	li{
		display:inline;  
		text-decoration: none;
		font-size: 25px;
	}
	
	a{ 
		text-decoration: none;
	}
	
	
	#content_wrap{
		width: 100%;
		margin: 0 auto;
/*		background-image: url('/resources/images/bg_img1.jpg');*/
		background-size: 200px 200px;
		background-image: url('/resources/images/tile.jpg');
	}
	
	#content_row1{
		width: 75%;
		height: 100%; 
		min-height: 700px;
		margin: 0 auto;
		border: 2px dashed blue;
		background-color: lightblue;
	}
	
	#footer_div{
		width: 100%;
		height: 75px;
		border: 2px dotted salmon;
		background-color: salmon;
		text-align: center;
	}
	
	#movie_result{
		margin: 0 auto;
		width: 80%;
	}
	
	table, td, th{
		text-align: center;
		border: 2px solid black;
		border-collapse: collapse;
	}
	
	table{
		width: 100%;
	}
	
	#newsTable{
		width: 100%;
		border: none;
	}
	
	#content_row2{
		width: 80%;
		margin: 0 auto;
	}
	
	.img_td{
		text-align: center;
	}
	
	.movieTitle{
		font-size: 15px;
	}
	
	.pubDate{
		font-size: 14px;
	}
	
	.menu_btn{
		width: 100px;
		height: 50px;
		border-radius: 10px;
		font-size: 20px;
	}
	